<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DJURSPANAREN</title>
  <link rel="stylesheet" href="normalize.css"> 
  <link rel="stylesheet" href="/static/quiz.css"> 
  </head>
<body>
<h1>VEM FINNS PÅ BILDEN?</h1>
<div class="container">
  <div class="row">
    <div class="column"><a href="{% url "start_page" %}">ALLA QUIZ</a></div>
    <div class="column"><a href="random.html">RANDOM QUIZ</a></div>
    <div class="column"><a href="kontakt.html">KONTAKT</a></div>
  </div>
</div>
<img src="/static/flamingo.jpg" alt="Pink flamingos" width="600">
<br>
<p>Större skata? Flamingo? Laxfärgad katt med fjädrar?</p>
<p>Vad tror du? Skriv din bästa gissning! Du kan också ställa frågor om quizen, skriva kommentarer eller bjussa på hinkvis med beröm.</p>
<form action="MAILTO:svensean@gmail.com" method="post" enctype="text/plain">
Namn:<br>
<input type="text" name="name" value="Ditt namn"><br>
Mailadress:<br>
<input type="text" name="mail" value="Din mailadress"><br>
Kommentar:<br>
<input type="text" name="comment" value="Här skriver du din kommentar" size="50"><br><br>
<input type="submit" value="Skicka">
<input type="reset" value="Börja om">
</form>
<br>
<br>
<p id="copyright">Skapad av Sandra Svensson 2015.</p>
</body>
</html>