<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DJURSPANAREN</title>
  <link rel="stylesheet" href="normalize.css"> 
  <link rel="stylesheet" href="/static/quiz.css"> 
  </head>
<body>
<div class="header">
  <h1>VEM FINNS PÅ BILDEN?</h1>
  <div class="container">
    <div class="row">
      <div class="column"><a href="startpage.html">ALLA QUIZ</a></div>
      <div class="column"><a href="random.html">RANDOM QUIZ</a></div>
      <div class="column"><a href="LINK">KONTAKT</a></div>
    </div>
  </div>
</div>
<h1>{{ question_number }}. {{ question }}</h1>
  <p>{{ answer1 }}</p>
  <p>{{ answer2 }}</p>
  <p>{{ answer3 }}</p>
<p>Vem går klädd i svartvita ränder?</p>
<br>
<img src="/static/zebra.jpg" alt="zebramönster" width="600">
<br>
<br>
<form action="">
<input type="radio" name="answer" value="male">Herr Zebra<br>
<input type="radio" name="answer" value="female">Fröken Leopard<br>
<input type="radio" name="answer" value="female">Lilla Björn<br>
</form>
<br>
<form action="resultat.html">
  <input type="submit" value="RÄTTA">
</form>
<p><a href="{% url "completed_page" quiz_slug %}">Nästa</a></p>
<br>
<br>
<p id="copyright">Skapad av Sandra Svensson 2015.</p>
</body>
</html>