<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DJURSPANAREN</title>
  <link rel="stylesheet" href="normalize.css"> 
  <link rel="stylesheet" href="/static/quiz.css"> 
  </head>
<body>
<div class="header">
  <h1>VEM FINNS PÅ BILDEN?</h1>
  <div class="container">
    <div class="row">
      <div class="column"><a href="{% url "start_page" %}">ALLA QUIZ</a></div>
      <div class="column"><a href="random.html">RANDOM QUIZ</a></div>
      <div class="column"><a href="kontakt.html">KONTAKT</a></div>
    </div>
  </div>
</div>
<img src="{{ imagelink }}" alt="secretanimal" width="600">
<p>{{ question_number }}. {{ question }}</p>
  <form action="{% url "question_page" quiz.slug question_number %}" method="post">
  {% csrf_token %}
  <label>
    <input type="radio" name="answer" value="1">
    {{ answer1 }}
  </label>
  <br>
   <label>
    <input type="radio" name="answer" value="2">
    {{ answer2 }}
  </label>
  <br>
   <label>
    <input type="radio" name="answer" value="3">
    {{ answer3 }}
  </label>
<br>
<br>
<input type="submit" value="NÄSTA FRÅGA">
<br>
</form>
<br>
<br>
<p id="copyright">Skapad av <a href="https://github.com/newsocialsandra" target="_blank">newsocialsandra</a>.</p>
</body>
</html>