<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="sv">
  <title>DJURSPANAREN</title>
  <link rel="stylesheet" href="normalize.css"> 
  <link rel="stylesheet" href="/static/quiz.css"> 
  </head>
<body>
<div class="header">
  <h1>VEM FINNS PÅ BILDEN?</h1>
<div class="container">
  <div class="row">
    <div class="column"><a href="{% url "start_page" %}">ALLA QUIZ</a></div>
    <div class="column">RANDOM QUIZ</div>
    <div class="column"><a href="{% url "contact_page" %}">KONTAKT</a></div>
  </div>
</div>
</div>
<h2>{{ quiz.name }}</h2>
  <p>{{ quiz.description }}</p>
<br>
<img src="/static/pasukaru76.jpg" alt="Pink flamingos" width="600">
<br>
<form action="{% url "question_page" quiz.slug 1 %}">
  <input type="submit" value="STARTA QUIZET">
</form>
<br>
<br>
<p id="copyright">Skapad av <a href="https://github.com/newsocialsandra" target="_blank">newsocialsandra</a>.</p>
</body>
</html>