<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DJURSPANAREN</title>
  <link rel="stylesheet" href="normalize.css"> 
  <link rel="stylesheet" href="quiz.css"> 
  </head>
<body>
<h1>VEM FINNS PÅ BILDEN?</h1>
<div class="container">
  <div class="row">
    <div class="column"><a href="quizstart.html">ALLA QUIZ</a></div>
    <div class="column"><a href="LINK">RANDOM QUIZ</a></div>
    <div class="column"><a href="LINK">KONTAKT</a></div>
  </div>
</div>
<h2>Ojdå!</h2>
<p>Randomfunktionen fungerar visst inte. Vi lagar den med plåster och tejp så snart vi kan. Välj <a href="startpage.html">ett annat quiz</a> medan du väntar. </p>
<img src="/static/flamingo.jpg" alt="Pink flamingos" width="600">
<br>
<br>
</body>
</html>