<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DJURSPANAREN</title>
  <link rel="stylesheet" href="normalize.css"> 
  <link rel="stylesheet" href="/static/quiz.css"> 
  </head>
<body>
<h1>VEM FINNS PÅ BILDEN?</h1>
<div class="container">
  <div class="row">
    <div class="column"><a href="{% url "start_page" %}">ALLA QUIZ</a></div>
    <div class="column">RANDOM QUIZ</div>
    <div class="column"><a href="{% url "contact_page" %}">KONTAKT</a></div>
  </div>
</div>
<img src="/static/cheetah.jpg" alt="Hidden cheetah" width="600">
<p>Kan du känna igen djuret, fågeln eller fisken på hens mönster, nos eller tassar? Briljera som djurspanare i ett klurigt bildquiz. </p>
<br>
<h2>Välj ett quiz:</h2>
{% for quiz in quizzes %}
     <p><li><a href="{% url "quiz_page" quiz.slug %}">
    {{ quiz.name }}
  </a></li></p>
{% empty %}
<p><em>Det finns inga frågesporter ännu.</em></p>
{% endfor %}
<br>
<p id="copyright">Skapad av <a href="https://github.com/newsocialsandra" target="_blank">newsocialsandra</a>.</p>
</body>
</html>