<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DJURSPANAREN</title>
  <link rel="stylesheet" href="normalize.css"> 
  <link rel="stylesheet" href="/static/quiz.css"> 
  </head>
<body>
<h1>VEM FINNS PÅ BILDEN?</h1>
<div class="container">
  <div class="row">
    <div class="column"><a href="{% url "start_page" %}">ALLA QUIZ</a></div>
    <div class="column"><a href="{% url "random_page" %}">RANDOM QUIZ</a></div>
    <div class="column"><a href="{% url "contact_page" %}">KONTAKT</a></div>
  </div>
</div>
<img src="/static/error500panda.jpg" alt="500errorcat" width="600">
<p>Det finns inget viktigt på denna sida. Smyg till <a href="{% url "start_page" %}"> startsidan</a> istället.</p>
<br>
<br>
<p id="copyright">Skapad av Sandra Svensson 2015.</p>
</body>
</html>